PORT=3000
DB_HOST=localhost
DB_PORT=5434
DB_USER=app_api
DB_PASSWORD=anniongNano123$
DB_NAME=attendance_db
DB_SYNCHRONIZE=false
DB_LOGGING=false
JWT_SECRET=7d8d7c1b6a8d1d1d5f9c2f7b4e3a9c6d8b1f2e4a6c8d9e1f3a5b7c9d1e2f4a6
